@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 32%,
    rgba(244, 0, 255, 1) 87%
  );
}
nav {
  background: rgba(22, 21, 21, 0.5);
}
header {
  background-color: rgba(17, 17, 17, 0.918);
}
.presentacion {
  height: 600px;
  margin-top: 300px;
}
.p {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 30px;
  text-align: justify;
  font-family: 'Roboto Mono', monospace;
}

card-body {
  width: 100px;
}
.avatar {
  height: 300px;
  width: 300px;
  border-radius: 30px;
}
.foto {
  margin-top: 60px;
}
h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(224, 236, 55), rgb(174, 182, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lato', sans-serif;

  background-image: linear-gradient(
    -225deg,
    rgba(2, 0, 36, 1) 0%,
    #231557 50%,

    rgb(224, 236, 55) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.follow {
  color: white;
  margin: 20px 0;
}
h3 {
  font-size: 20px;
  color: white;
}
.texto {
  margin-top: 50px;
}
.proyect {
  background-color: #160040;
  margin: 50px 0px;
  padding: 50px 0;
}
.card-img-top {
  width: 350px;
  height: 250px;
  border-radius: 40px;
  padding: 10px;
}

.pt2 {
  margin-top: 60px;
  margin-left: 250px;
}

.card-body {
  margin-top: 50px;
}
h5 {
  font-size: 60px;
}
.redes {
  margin-top: 50px;
  padding: 30px;
}
.card {
  position: relative;
  border-radius: 40px;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 9, 121, 1) 30%,
    rgba(244, 0, 255, 1) 87%
  );
}
.title {
  color: white;
  padding: 30px 0;
  padding-bottom: 60px;
  font-family: 'Roboto Mono', monospace;
}
.red {
  border-radius: 50%;
}
.skills {
  padding-top: 160px;
  height: 500px;
}
.skill {
  font-size: 40px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 50px;
}
footer {
  background-color: #160040;
}
.contact {
  font-size: 40px;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
form {
  color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #231557;
  padding: 50px;
  border-radius: 20px;
  
}

.icon {
  display: inline-block;
  font-size: 30px;
  animation: float 5s ease-in-out infinite;
}
.bi-linkedin {
  animation-delay: 1s;
  color: #0082ca;
}
.bi-github {
  animation-delay: 2s;
  color: #333333;
}
.ri-whatsapp-line {
  animation-delay: 3s;
  color: #25d366;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: scaleY(0);
  }
}
.card:hover {
  transform: scale(1.1);
}
.copy{
  font-size: 24px;
  padding-bottom: 20px;
  color: white;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  transform: translate(-4px, -4px);
  background: linear-gradient(
      60deg,
      rgba(2, 0, 36, 1),
      #290979,
      #5f86f2,
      #a65ff2,
      #f25fd0,
      rgba(244, 0, 255, 1)
    )
    0 50%;
  background-size: 300% 300%;
  animation: gradient 2.5s alternate infinite;
  border-radius: 40px;
  z-index: -1;
}
@keyframes gradient {
  50% {
    background-position: 100% 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .pt2{
    margin-left: 80px;
  }
}

@media (min-width: 355px) and (max-width: 1000px) {
  .card-img-top {
    display: noe;
    width: 300px;
    height: 200px;
  }
  .presentacion{
    margin-top: 30px;
    height: 1000px;
  }
  .pt2{
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
  }
  .p{
    color: rgb(247, 232, 165);
    font-size: 20px;
    margin: 0 20px;
    
  }
  h1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 40px;
  }
}
